* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #83b5a6;
    /* width: 99%; */
    height: 80px;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.card {
    height: 420px;
    width: 300px;
    margin: 80px auto;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 50px;
    border-radius: 20px;
}

.status {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 15px;
}

.text {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

.text_status {
    margin-right: 10px;
}

img {
    width: 150px;
    margin-top: 5px;
}


.data {
    margin: -23px;
    padding: 10px;
}

.text {
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 30px;
}

.text_name {
    font-weight: bold;
}

#contain {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0px auto;
    flex-wrap: wrap;
}

.card_main {
    display: flex;
    flex-wrap: wrap;
}